.VegaModal {
  &__Root {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;

    padding-right: var(--space-m);
    padding-left: var(--space-m);

    min-width: 400px;
    max-width: 900px;

    background-color: var(--color-bg-default);
    border-radius: calc(var(--control-radius) * 2);

    transform: translate(-50%, -50%);
  }

  &__CloseButton {
    position: absolute;
    top: 0;
    right: 0;

    width: 25px;
    height: 25px;

    color: var(--color-typo-ghost);
    background: transparent;
    border: none;
    opacity: 0.4;
  }

  &__Header,
  &__Body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__Header {
    padding: 3px var(--space-l);
  }

  &__Body {
    margin-bottom: var(--space-xl);
    padding-top: var(--space-s);
  }

  &__Overlay {
    position: fixed;
    z-index: 99;
    top: 0;

    width: 100vw;
    height: 100vh;

    background: rgb(12, 17, 19, 0.85);
  }

  &__Footer {
    margin-bottom: var(--space-xl);
  }
}
