.Modal {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-default);
  border-radius: 8px;

  transform: translate(-50%, -50%);
  padding-left: var(--space-m);
  padding-right: var(--space-m);

  &-CloseButton {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    opacity: 0.4;
    color: var(--color-typo-ghost);

    &:hover {
      color: var(--color-typo-primary);
      cursor: pointer;
    }
  }

  &-Header,
  &-Body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-Header {
    padding: 3px 0;
  }

  &-Body {
    padding-top: var(--space-s);
    margin-bottom: var(--space-xl);
  }

  &-Overlay {
    position: fixed;
    z-index: 99;
    top: 0;

    width: 100vw;
    height: 100vh;

    background: rgb(12, 17, 19, 0.85);
  }

  &-Footer {
    margin-bottom: var(--space-xl);
  }
}

.CustomFooter {
  margin-bottom: 30px;
}
