.VegaPageBanner {
  box-sizing: border-box;

  height: 200px;

  color: var(--color-typo-primary);
  background: var(--color-bg-secondary) url(./static/map.png) no-repeat right top;

  &__content {
    padding: var(--space-m) 0 var(--space-2xl) var(--space-3xl);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    box-sizing: border-box;

    width: 700px;
    height: 100%;

    background-image: linear-gradient(to right, var(--color-bg-secondary) 70%, transparent);
  }

  &__title {
    margin: 0;

    display: -webkit-box;

    overflow: hidden;

    font-size: var(--size-text-3xl);
    font-weight: 700;
    line-height: var(--line-height-text-xs);
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__description {
    margin: 0;

    display: -webkit-box;
    overflow: hidden;

    font-size: var(--size-text-m);
    line-height: var(--line-height-text-xs);
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
