.VegaNavigationList {
  margin: 0;
  padding: 0;

  list-style-type: none;

  &_ordered {
    counter-reset: vega-navigation-list-counter;
  }

  &__Item {
    padding: var(--space-xs) var(--space-s);

    width: 100%;

    font-size: var(--size-text-m);
    line-height: var(--line-height-text-s);

    text-align: left;

    cursor: pointer;

    color: var(--color-typo-primary);

    background: transparent;
    border: 0;

    &_active {
      background-color: var(--color-control-bg-ghost);
    }

    &:hover:not(&_active) {
      background-color: var(--color-bg-stripe);
    }

    &:focus {
      outline: 0;
    }

    &:focus:not(&_active) {
      background-color: var(--color-bg-stripe);
    }
  }

  &_ordered &__Item {
    counter-increment: vega-navigation-list-counter;

    &::before {
      content: counter(vega-navigation-list-counter) '.\00A0';
    }
  }

  &__Delimiter {
    margin: var(--space-xs) 0;

    height: calc(var(--control-border-width) * 2);

    background-color: var(--color-bg-border);
  }
}
