.NavigationListStories {
  &__wrapper {
    width: 302px;
  }

  &__withIcon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__icon {
    margin-left: auto;
  }
}
