.VegaDropdown {
  &__Root {
    position: absolute;

    z-index: 100;

    padding: var(--space-s) 0;

    box-sizing: border-box;

    min-width: 240px;

    background-color: var(--color-bg-default);

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: var(--control-radius);
    box-shadow: 0 4px 16px rgba(0, 32, 51, 0.18), 0 2px 2px rgba(0, 0, 0, 0.04);
  }

  &.is-enter {
    opacity: 0;

    transform: scale(0.9);
  }

  &.is-enterActive {
    opacity: 1;

    transition: opacity 300ms, transform 300ms;
    transform: translateX(0);
  }

  &.is-exit {
    opacity: 1;
  }

  &.is-exitActive {
    opacity: 0;

    transition: opacity 300ms, transform 300ms;
    transform: scale(0.9);
  }

  &__Menu {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__ItemButton {
    padding: 6px var(--space-s);

    width: 100%;

    background: transparent;
    border: 0;

    &:focus-within,
    &:focus {
      background: var(--color-bg-stripe);
      outline: 0;
    }
  }

  &__Item {
    &.is-active {
      background: var(--color-bg-stripe);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
