.VegaDropdown {
  &__Root {
    position: absolute;

    z-index: 100;

    padding: var(--space-s) 0;

    box-sizing: border-box;

    min-width: 240px;

    background-color: var(--color-bg-default);

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    box-shadow: 0 4px 16px rgba(0, 32, 51, 0.18), 0 2px 2px rgba(0, 0, 0, 0.04);
  }

  &__Menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__Link {
    padding: 6px var(--space-s);

    &.is-active {
      background: var(--color-bg-stripe);
    }
  }

  &__Item {
    &:focus-within,
    &:focus {
      outline: none;
      background: var(--color-bg-stripe);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.dropdown-enter {
  opacity: 0;

  transform: scale(0.9);
}

.dropdown-enter-active {
  opacity: 1;

  transition: opacity 300ms, transform 300ms;
  transform: translateX(0);
}

.dropdown-exit {
  opacity: 1;
}

.dropdown-exit-active {
  opacity: 0;

  transition: opacity 300ms, transform 300ms;
  transform: scale(0.9);
}
