.Metadata {
  &__panel {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;

    padding-left: var(--space-2xl);

    display: flex;

    box-sizing: border-box;
    width: 100%;
    height: 50px;

    font-size: 13px;
    line-height: 17px;
    align-items: center;
  }

  &__tag {
    padding: 4px 9px;

    font-weight: 500;

    background-color: #f1f1f1;
    border-radius: 16px;

    &_success {
      color: #008000;
      background-color: #d2f39e;
    }

    &_warning {
      color: #e87700;
      background-color: #fff8ee;
    }

    &_alert {
      color: #e80101;
      background-color: #ffc9c9;
    }
  }

  &__tag + &__tag {
    margin-left: 5px;
  }

  &__description {
    margin-left: 10px;

    font-style: italic;
  }

  &__wrapper {
    padding: 50px var(--space-2xl) var(--space-4xl) var(--space-2xl);

    min-height: 100vh;

    background: var(--color-bg-default);
  }
}
