.Metadata {
  &__panel {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;

    padding: 10px 15px;

    box-sizing: border-box;

    width: 100%;

    font-size: 16px;
    line-height: 21px;

    background: #fff;
  }

  &__author {
    margin-left: 10px;
  }

  &__status-value,
  &__author-value {
    margin-left: 3px;

    &_success {
      color: #008000;
    }

    &_warning {
      color: #ffa500;
    }

    &_alert {
      color: #f00;
    }
  }

  &__wrapper {
    margin-top: 41px;
    padding: var(--space-3xl);

    min-height: 100vh;

    background: var(--color-bg-default);
  }
}
