.Metadata {
  &__panel {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;

    padding-left: var(--space-2xl);

    display: flex;

    box-sizing: border-box;
    width: 100%;
    height: 50px;

    font-size: 13px;
    line-height: 17px;
    align-items: center;
  }

  &__label {
    padding: 3px 7px;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
  }

  &__label + &__label {
    margin-left: 5px;
  }

  &__value {
    margin-left: 3px;

    &_success {
      color: #008000;
    }

    &_warning {
      color: #ffa500;
    }

    &_alert {
      color: #f00;
    }
  }

  &__description {
    margin-left: 10px;

    font-style: italic;
  }

  &__wrapper {
    padding: 50px var(--space-2xl) var(--space-4xl) var(--space-2xl);

    min-height: 100vh;

    background: var(--color-bg-default);
  }
}
